[submodule "trytond/modules/account"]
	path = trytond/modules/account
	url = https://github.com/RakenHammed/account
[submodule "trytond/modules/party"]
	path = trytond/modules/party
	url = https://github.com/RakenHammed/party
[submodule "trytond/modules/company"]
	path = trytond/modules/company
	url = https://github.com/RakenHammed/company
[submodule "trytond/modules/country"]
	path = trytond/modules/country
	url = https://github.com/RakenHammed/country
[submodule "trytond/modules/currency"]
	path = trytond/modules/currency
	url = https://github.com/RakenHammed/country
